name: C Project CI with Make

on:
  push:
    branches: ["main", "development"]
  pull_request:
    branches: ["main", "development"]

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build with Make
        run: make

      - name: Run checks
        run: make check

      - name: Run the program
        run: make run
